@using System.Net

@inject IPersistentCall<InMemoryResponseStoreTestsRequest, string> Caller;

<p id="statusCodeElement">@_statusCode</p>
<p id="responseElement">@_response</p>

@code {
    private HttpStatusCode? _statusCode;
    private string? _response;

    protected override async Task OnInitializedAsync()
    {
        var request = new InMemoryResponseStoreTestsRequest();
        var result = await Caller.CallHttp(InMemoryResponseStoreTestsBase.StorageKey, request);
        _statusCode = result.StatusCode;
        _response = result.Response;
    }
}